[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[pipenv]
allow_prereleases = true

[dev-packages]
flake8 = "*"
pytest = "*"
black = "*"

[packages]
musabi = {editable = true, path = "."}
numpy = "*"
tensorflow = "*"
seaborn = "*"
icrawler = "*"
boto3 = "*"
instabot = "*"
Pillow = "*"

[requires]
python_version = "3.8"
